body {
  background-image: url(../css/pizza-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Lobster', cursive;
  color: green;
  font-weight: bold;
  font-size: 2em;
}

h1 {
  text-align: center;
  font-size: 7em;
}

#price-slices {
  display: none;
}
